@CHARSET "UTF-8";

body {
	background: #f3f3f3 none repeat scroll 0 0;
	margin-top: 80px;
	margin-bottom: 80px;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow:-Scroll;
	overflow-x:hidden;
}

.card-container {
	padding: 0 4px;
}

.card {
	background: #ffffff;
	height: 200px;
	margin: 30px 0px 10px 0;
	padding: 30px;
	font-size: 12px;
	color: #666666;
}

.card-title {
	color: #666666;
	font-family: "微软雅黑 Bold", "微软雅黑";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	padding-bottom: 30px;
}

.card .card-title a {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	padding-left: 220px;
	text-decoration: underline;
}

.card ul li {
	line-height: 25px;
}

.card a:nth-child(1) {
	text-decoration: underline;
}

.card ul li a {
	color: #666666;
	font-size: 12px;
	padding: 0 20px 0 0;
}